Repository sabinmarcu/librario: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --findRelatedTests --passWithNoTests

.lintstagedrc.yml:

'*.{js,mjs,cjs,ts,mts,cts,tsx}': 
  - 'eslint --fix'
'*.{ts,mts,cts,tsx}':  
  - 'jest --findRelatedTests --passWithNoTests'

feat(@librario/docs): add devlog
  .vscode/settings.json
  apps/app/package.json
  apps/docs/.gitignore
  apps/docs/.tscmonorc.yaml
  apps/docs/README.md
  apps/docs/babel.config.js
  apps/docs/docs/intro.md
  apps/docs/docs/setup.mdx
  apps/docs/docusaurus.config.js
  apps/docs/package.json
  apps/docs/sidebars.js
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
  apps/docs/src/pages/markdown-page.md
  apps/docs/static/.nojekyll
  apps/docs/static/img/docusaurus.png
  apps/docs/static/img/favicon.ico
  apps/docs/static/img/logo.svg
  apps/docs/static/img/undraw_docusaurus_mountain.svg
  apps/docs/static/img/undraw_docusaurus_react.svg
  apps/docs/static/img/undraw_docusaurus_tree.svg
  yarn.lock
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/theme): swap checkbox for radio on theme selector
  packages/theme/src/hooks/useProvideTheme.ts
  packages/theme/src/hooks/useProvideThemeSet.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/docs): write up the unique quirks of the theme
  apps/docs/docs/systems/theme.md
Due: none

feat(@librario/theme): add labels to betweenType type
  packages/theme/src/types/breakpoints.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/docs): fix broken link
  apps/docs/docs/systems/theme.md
Due: none

feat(@librario/docs): added overview
  apps/docs/docs/intro.md
  apps/docs/docs/overview.md
  apps/docs/docs/setup.mdx
  apps/docs/docs/systems/_category_.yml
Due: none

feat(@librario/docs): add links to navbar and improve theme
  apps/docs/docs/overview.md
  apps/docs/docusaurus.config.js
Due: eslint --fix

feat(@librario/docs): add stolen code section to overview
  apps/docs/docs/overview.md
Due: none

chore(repo): update readme
  README.md
Due: none

chore(repo): update repo gitignore with tsconfigs
  .gitignore
Due: none

chore(repo): remove cached tsconfigs from scm
  apps/app/tsconfig.build.json
  apps/docs/tsconfig.build.json
  apps/tsconfig.build.json
  packages/eslint-config-custom/tsconfig.build.json
  packages/theme/tsconfig.build.json
  packages/tsconfig.build.json
  packages/ui/tsconfig.build.json
Due: none

chore(repo): add tscmono to postinstall again
  package.json
Due: none

feat(repo): add ripple and hooks libs
  apps/app/package.json
  apps/app/src/App.tsx
  apps/storybook/package.json
  package.json
  packages/hooks/.tscmonorc.yaml
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/useLocalStorage.ts
  packages/hooks/src/useMeasure.ts
  packages/hooks/src/useReplicateRef.ts
  packages/ripple/.tscmonorc.yaml
  packages/ripple/package.json
  packages/ripple/src/components/Ripple.tsx
  packages/ripple/src/components/styles.ts
  packages/ripple/src/components/withRipple.tsx
  packages/ripple/src/emotion.d.ts
  packages/ripple/src/hooks/index.ts
  packages/ripple/src/hooks/useRipple.ts
  packages/ripple/src/hooks/useRippleList.ts
  packages/ripple/src/hooks/useRippleRef.ts
  packages/ripple/src/index.ts
  packages/ripple/src/ripple.story.tsx
  packages/ripple/src/types.ts
  packages/ripple/src/utils.ts
  packages/theme/src/components/ThemeSetProvider.tsx
  packages/theme/src/components/index.ts
  packages/theme/src/config/palette/background.ts
  packages/theme/src/core/transitions.fixture.ts
  packages/theme/src/hooks/index.ts
  packages/theme/src/hooks/useProvideThemeSet.ts
  packages/theme/src/index.tsx
  packages/theme/src/stories/palette.story.tsx
  packages/theme/src/stories/shadows.story.tsx
  packages/theme/src/stories/themeProvider.story.tsx
  packages/theme/src/stories/transitions.story.tsx
  packages/theme/src/theme/index.ts
  packages/ui/src/Button.stories.tsx
  packages/ui/src/Button.tsx
  packages/ui/src/index.tsx
  yarn.lock
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/docs): add hooks and ripple to overview chart
  apps/docs/docs/overview.md
Due: none

feat(repo): refactor button into feature and create iconbutton
  apps/app/src/storybook/decorators/index.ts
  apps/storybook/.storybook/preview.js
  apps/storybook/decorators/withTheme.jsx
  apps/storybook/package.json
  features/ui/.tscmonorc.yaml
  features/ui/jest.config.mjs
  features/ui/package.json
  features/ui/src/components/Button.stories.tsx
  features/ui/src/components/Button.tsx
  features/ui/src/components/IconButton.stories.tsx
  features/ui/src/components/IconButton.tsx
  features/ui/src/components/index.ts
  features/ui/src/index.ts
  package.json
  packages/hooks/jest.config.mjs
  packages/ripple/jest.config.mjs
  packages/ripple/src/hooks/useRipple.ts
  packages/ripple/src/utils.ts
  tsconfig.build.json
  yarn.lock
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/ui): refactor buttons
  apps/docs/docs/overview.md
  apps/storybook/.storybook/preview.js
  features/ui/src/components/Button.stories.tsx
  features/ui/src/components/Button.tsx
  features/ui/src/components/Button/Button.stories.tsx
  features/ui/src/components/Button/Button.tsx
  features/ui/src/components/Button/IconButton.stories.tsx
  features/ui/src/components/Button/IconButton.tsx
  features/ui/src/components/Button/compileButton.tsx
  features/ui/src/components/Button/index.ts
  features/ui/src/components/Button/storybook.tsx
  features/ui/src/components/Button/types.ts
  features/ui/src/components/Button/variants/Base.tsx
  features/ui/src/components/Button/variants/Contained.tsx
  features/ui/src/components/Button/variants/Outlined.tsx
  features/ui/src/components/IconButton.stories.tsx
  features/ui/src/components/IconButton.tsx
  features/ui/src/components/index.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/ui): add paper and surface
  apps/storybook/decorators/withTheme.jsx
  features/ui/src/components/Paper/Paper.stories.tsx
  features/ui/src/components/Paper/Paper.tsx
  features/ui/src/components/Paper/index.ts
  features/ui/src/components/Surface/Surface.stories.tsx
  features/ui/src/components/Surface/Surface.tsx
  features/ui/src/components/Surface/index.ts
  features/ui/src/components/Surface/types.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/sidebar): change overlay to black
  features/sidebar/src/components/Overlay.tsx
  features/sidebar/src/components/index.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/docs): document style guide and sidebar
  apps/docs/docs/features/_category_.yml
  apps/docs/docs/features/index.mdx
  apps/docs/docs/features/sidebar.mdx
  apps/docs/docs/features/ui.mdx
  apps/docs/docs/overview.mdx
  apps/docs/docs/systems/ripple.mdx
  apps/docs/docs/systems/theme.mdx
Due: none

feat(@librario/sidebar): add close on click to overlay
  features/sidebar/src/components/Overlay.stories.tsx
  features/sidebar/src/components/Overlay.tsx
  features/sidebar/src/components/Sidebar.stories.tsx
  features/sidebar/src/components/Sidebar.tsx
  features/sidebar/src/components/SidebarButton.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/account): implement account feature
  features/account/.tscmonorc.yaml
  features/account/jest.config.mjs
  features/account/package.json
  features/account/src/components/AccountItem.stories.tsx
  features/account/src/components/AccountItem.tsx
  features/account/src/components/AccountList.stories.tsx
  features/account/src/components/AccountList.tsx
  features/account/src/components/Conditionals.stories.tsx
  features/account/src/components/Conditionals.tsx
  features/account/src/components/index.ts
  features/account/src/index.ts
  features/account/src/seed.ts
  features/account/src/state/account.ts
  features/account/src/state/accounts.ts
  features/account/src/state/current.ts
  yarn.lock
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/ui): add typography raw
  features/ui/src/Button/variants/Base.tsx
  features/ui/src/Surface/Surface.tsx
  features/ui/src/Typography/variants/Variants.stories.tsx
  features/ui/src/Typography/variants/base.tsx
  features/ui/src/Typography/variants/h1.tsx
  features/ui/src/Typography/variants/h2.tsx
  features/ui/src/Typography/variants/h3.tsx
  features/ui/src/Typography/variants/h4.tsx
  features/ui/src/Typography/variants/h5.tsx
  features/ui/src/Typography/variants/h6.tsx
  features/ui/src/Typography/variants/p.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/ui): add isomorphic typography
  features/ui/src/Typography/Typography.stories.tsx
  features/ui/src/Typography/Typography.tsx
  features/ui/src/Typography/variants/index.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/ui): export typography
  features/ui/src/Typography/index.ts
  features/ui/src/index.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/ui): add toolbar
  features/ui/src/Layout/Container.ts
  features/ui/src/Layout/Flex.ts
  features/ui/src/Toolbar/components/Toolbar.stories.tsx
  features/ui/src/Toolbar/components/Toolbar.tsx
  features/ui/src/Toolbar/hooks/useScroll.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/docs): document accounts
  apps/docs/docs/features/account.mdx
  package.json
Due: none

feat(@librario/app): implement sidebar toolbar and account
  apps/app/package.json
  apps/app/src/App.tsx
  apps/app/src/components/AppBar.tsx
  apps/app/src/components/Sidebar.tsx
  apps/app/src/main.tsx
  apps/app/src/styleReset.ts
  features/account/src/components/AccountItem.tsx
  features/account/src/components/AccountList.tsx
  features/sidebar/src/components/Container.tsx
  features/sidebar/src/components/Sidebar.tsx
  features/sidebar/src/index.ts
  features/ui/src/Layout/Container.ts
  features/ui/src/Layout/index.ts
  features/ui/src/Toolbar/index.ts
  features/ui/src/Typography/index.ts
  features/ui/src/Typography/variants/index.ts
  features/ui/src/index.ts
  package.json
  yarn.lock
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/app): implement routing
  apps/app/src/App.tsx
  apps/app/src/components/layout/AppBar.tsx
  apps/app/src/components/layout/Sidebar.tsx
  apps/app/src/components/routes/LoggedInRoute.tsx
  apps/app/src/components/routes/LoggedOutRoute.tsx
  apps/app/src/pages/LoggedIn.tsx
  apps/app/src/pages/LoggedOut.tsx
  apps/app/src/pages/NotFound.tsx
  apps/app/src/pages/Root.tsx
  apps/app/src/routes/index.tsx
  apps/app/src/routes/loggedIn.tsx
  apps/app/src/routes/loggedOut.tsx
  apps/app/src/styleReset.ts
  features/account/src/index.ts
  features/account/src/state/index.ts
  features/sidebar/package.json
  features/ui/src/Button/types.ts
  features/ui/src/Typography/Typography.stories.tsx
  features/ui/src/Typography/Typography.tsx
  features/ui/src/Typography/variants/Variants.stories.tsx
  features/ui/src/Typography/variants/base.tsx
  features/ui/src/Typography/variants/h1.tsx
  features/ui/src/types.ts
  packages/theme/src/hooks/index.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/ui): add button group
  features/ui/src/ButtonGroup/ButtonGroup.stories.tsx
  features/ui/src/ButtonGroup/ButtonGroup.tsx
  features/ui/src/ButtonGroup/index.ts
  features/ui/src/index.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/app): implement theme switch
  apps/app/src/components/layout/Sidebar.tsx
  apps/app/src/components/theme/ThemeSelector.tsx
  apps/app/src/components/theme/ThemeSelectorButton.tsx
  features/account/src/components/AccountList.tsx
  features/ui/src/ButtonGroup/ButtonGroup.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/app): tweak theme selector styles
  apps/app/src/components/layout/Sidebar.tsx
  apps/app/src/components/theme/ThemeSelector.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/book): implement book feature
  apps/app/src/App.tsx
  apps/app/src/components/layout/AppBar.tsx
  apps/app/src/components/layout/Sidebar.tsx
  apps/app/src/components/routes/AppLink.tsx
  apps/app/src/components/routes/GoHome.tsx
  apps/app/src/pages/Root.tsx
  apps/app/src/routes/index.tsx
  apps/app/src/routes/loggedIn.tsx
  apps/storybook/decorators/withTheme.jsx
  features/account/src/state/account.ts
  features/book/.tscmonorc.yaml
  features/book/jest.config.mjs
  features/book/package.json
  features/book/src/components/Book.stories.tsx
  features/book/src/components/BookActions.tsx
  features/book/src/components/BookCard.tsx
  features/book/src/components/BookCardContent.tsx
  features/book/src/components/BookCover.stories.tsx
  features/book/src/components/BookCover.tsx
  features/book/src/components/BookStatus.tsx
  features/book/src/components/BookTitle.tsx
  features/book/src/components/constants.ts
  features/book/src/components/index.ts
  features/book/src/hooks/index.ts
  features/book/src/hooks/useCoverImage.ts
  features/book/src/index.ts
  features/book/src/seed.ts
  features/book/src/state/book.ts
  features/book/src/state/books.ts
  features/book/src/state/index.ts
  features/ui/src/Button/variants/Base.tsx
  features/ui/src/Spinner/Spinner.stories.tsx
  features/ui/src/Spinner/Spinner.tsx
  features/ui/src/Spinner/index.ts
  features/ui/src/index.ts
  packages/theme/src/core/breakpoints.fixture.ts
  packages/theme/src/core/breakpoints.spec.ts
  packages/theme/src/core/breakpoints.ts
  packages/theme/src/hooks/useProvideTheme.ts
  yarn.lock
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/book): implement book list
  features/book/src/components/Book/Book.raw.stories.tsx
  features/book/src/components/Book/Book.stories.tsx
  features/book/src/components/Book/Book.tsx
  features/book/src/components/Book/BookActions.tsx
  features/book/src/components/Book/BookCard.tsx
  features/book/src/components/Book/BookCardContent.tsx
  features/book/src/components/Book/BookCover.stories.tsx
  features/book/src/components/Book/BookCover.tsx
  features/book/src/components/Book/BookStatus.tsx
  features/book/src/components/Book/BookTitle.tsx
  features/book/src/components/Book/constants.ts
  features/book/src/components/Book/index.ts
  features/book/src/components/Book/types.ts
  features/book/src/components/BookList/BookList.stories.tsx
  features/book/src/components/BookList/BookList.tsx
  features/book/src/components/index.ts
  features/book/src/hooks/useCoverImage.ts
  features/book/src/index.ts
  features/book/src/seed.ts
  features/book/src/state/book.ts
  features/book/src/state/books.ts
  features/book/src/types.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/book): add disabled state
  features/book/src/components/Book/Book.raw.stories.tsx
  features/book/src/components/Book/Book.stories.tsx
  features/book/src/components/Book/Book.tsx
  features/book/src/components/Book/BookCard.tsx
  features/book/src/components/BookList/BookList.stories.tsx
  features/book/src/components/BookList/BookList.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/ui): rename style guide to design system
  apps/docs/docs/overview.mdx
  features/book/src/components/Book/Book.raw.stories.tsx
  features/book/src/hooks/index.ts
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/IconButton.stories.tsx
  packages/ui/src/ButtonGroup/ButtonGroup.stories.tsx
  packages/ui/src/Paper/Paper.stories.tsx
  packages/ui/src/Spinner/Spinner.stories.tsx
  packages/ui/src/Surface/Surface.stories.tsx
  packages/ui/src/Typography/Typography.stories.tsx
  packages/ui/src/Typography/variants/Variants.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(@librario/ui): rename stories from features to libs
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/IconButton.stories.tsx
  packages/ui/src/ButtonGroup/ButtonGroup.stories.tsx
  packages/ui/src/Paper/Paper.stories.tsx
  packages/ui/src/Spinner/Spinner.stories.tsx
  packages/ui/src/Surface/Surface.stories.tsx
  packages/ui/src/Typography/Typography.stories.tsx
  packages/ui/src/Typography/variants/Variants.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests
